/*****
* Universal
*****/
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-weight: bold;
}

p, 
h1 {
    margin: 0;
    padding: 0;
    white-space: pre-line;
}

h2 {
    margin: 0 0 2rem 0;
    color:#c26711;
}

li {
    list-style: none;
}

input[type="checkbox"]{
    margin: 0;
    padding: 0;
    width: 0.8rem;
    height: 0.8rem;
}

::placeholder {
    font-style: italic;
}
/*****
* body-index    index.php
*****/
.body-index {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

/*Menu*/
.menu {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: fixed;
    background-color: #fdd7b5;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    width: 100%;
    height: 7rem;
    border-bottom: 0.1rem solid #8b4300;
}

.menu img {
    width: 6rem;
    margin: 0 0 0 10rem;
    cursor: pointer;
}

.menu .logo {
    display: flex;
    align-items: center;
}

.menu .menu-enlaces {
    display: flex;
    flex-direction: row;
    margin: 0 10rem 0 0;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.menu li {
    color: #6e3701;
}

.menu a {
    color: #6e3701;
    font-weight: 500;
    transition: all 0.15s ease;
}

.menu a:hover {
    font-weight: bold;
    color: #c26711;
}

/*****
* extension
*****/
.extension {
    margin: 7rem 0 0;
    display: flex;
    flex: 1 ;
}

/*****
* inicio.php
*****/
.inicio {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.imagen-inicio {
    background: url(../img/inicio1.jpg) no-repeat;
    background-size: cover;
    display: flex;
    height: 35rem;
    width: 100%;
    align-items: center;
}

.imagen-titulo-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 6.5rem;
    gap: 0.75rem;
    height: 10rem;
    width: 35rem;
}

.imagen-titulo-inicio h1,
.imagen-titulo-inicio p {
    text-align: center;
    font-weight: bolder;
    color: #6e3701;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);;
}


.imagen-titulo-inicio h1 {
    font-size: 3rem;
}

.imagen-titulo-inicio p {
    font-size: 1.5rem;
    width: 35rem;
}

.inicio section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
}

section h1 {
    color: #c26711;
}

.divisor-seccion{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
    margin: 3rem 0 0;
}

.icono-seccion {
    width: 3rem;
}

.servicios-inicio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2.5rem 2rem;
    justify-content: center;
    align-items: center;
}

.servicios-inicio h3 {
    text-decoration: underline;
    color: #fa9333;
}

.servicios-inicio p {
    font-size: 0.8rem;
}

.servicios-inicio div {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 15rem;
    align-items: center;
    text-align: center;
}

.imagen-inicio a {
    display: flex;
    flex-direction: column;
}

.servicios-inicio img {
    width: 5rem;
    height: 5rem;
    transition: all 0.17s ease;
}

.servicios-inicio img:hover {
    width: 6rem;
    height: 6rem;
}

/*****
* footer.php
*****/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-formulario {
    background-color: #fdd7b5;
    width: 100%;
}

.formulario-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.titulo-formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 40rem;
    gap: 1.25rem 2rem;
    margin: 2rem 0 0;
}

.formulario-texto h2 {
    margin: 0 0 1rem;
}

.formulario-texto p {
    width: 30rem;
    margin: 0 0 2rem;
    font-weight: bold;
}

.formulario-texto p:nth-child(2) {
    margin: 0;
}

.formulario-texto label {
    padding: 0 0 0 0.5rem;
    font-weight: bold;
}

.item-formulario {
    display: flex;
    flex-direction: column;
    justify-content: start !important;
}

.item-formulario input {
    height: 2rem;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    border: none;
}

.textarea {
    display: flex;
}

textarea {
    margin: 2rem 0 0 0;
    padding: 0.5rem;
    resize: vertical;
    /*form-sizing: content;*/           /*Para un futuro, funcionará, no requerirá max-height*/
    min-height: 7rem;
    max-height: 11rem;
    border-radius: 0.4rem;
    width: 100%;
    border: none;
}

.confirmacionForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem 0 1.5rem;
}

.confirmacionForm a {
    color:#c26711;
}

.confirmacionForm p {
    width: 35rem;
    font-size: 1.1rem;
}

.enviar-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enviar {
    width: 8rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: none;
    background-color: #fa9333;
    font-weight: bold;
    transition: all 0.17s ease;
}

.enviar:hover {
    width: 8.5rem;
    height: 2.2rem;
}


/* Pie informativo */
.footer {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer ul li {
    font-weight: bold;
    padding: 0;
    margin: 0.5rem 0;
}

.footer ul a {
    color:#c26711;
    text-decoration: underline;
}

.footer ul h3 {
    margin: 0;
    color: #c26711;
}

.item-footer {
    display: flex;
    flex-direction: column;
    height: 11.5rem;
    padding: 0 0 1rem;
    margin: 1.5rem 0 0;
}

.item-footer:first-child {
    align-items: center;
    margin: 0 1rem 0 0;
}

.item-footer img {
    width: 8rem;
    margin: 1rem 0 0;
    align-items: center;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
}

.redes-sociales img {
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin: 0 0 1rem;
}

.item-footer h3 {
    margin: 0 0 0.5rem;
    color: #c26711;
}

h5 {
    margin: 0 0 1rem;
}

h5 a {
    color:#c26711;
    text-decoration: underline;
    transition: all 0.17s ease; 
}

h5 a:hover {
    font-size: 0.85rem;
}