/*****
* Universal
*****/
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

p, 
h1 {
    margin: 0;
    padding: 0;
    white-space: pre-line;
}

h2 {
    margin: 0 0 2rem 0;
}

li {
    list-style: none;
}
/*****
* body-index    index.php
*****/
.body-index {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

/*Menu*/
.menu {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: fixed;
    background-color: rgb(232, 208, 176);
    justify-content: space-between;
    margin: 0;
    align-items: center;
    width: 100%;
    height: 7rem;
    border-bottom: 0.1rem solid #8b4300;
}

.menu img {
    width: 6rem;
    margin: 0 0 0 10rem;
    cursor: pointer;
}

.menu .logo {
    display: flex;
    align-items: center;
}

.menu .menu-enlaces {
    display: flex;
    flex-direction: row;
    margin: 0 10rem 0 0;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.menu a {
    color: #6e3701;
    font-weight: 500;
    transition: all 0.15s ease;
}

.menu a:hover {
    font-weight: bold;
    color: #8b4300;
}

/*****
* extension
*****/
.extension {
    margin: 7rem 0 0;
    display: flex;
    flex: 1 ;
    border: 1px solid red;
}

/*****
* inicio.php
*****/
.inicio {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.imagen-inicio {
    background: url(../img/inicio1.jpg) no-repeat;
    background-size: cover;
    display: flex;
    height: 35rem;
    width: 100%;
    align-items: center;
}

.imagen-titulo-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 6.5rem;
    gap: 0.75rem;
    height: 10rem;
    width: 35rem;
}

.imagen-titulo-inicio h1,
.imagen-titulo-inicio p {
    text-align: center;
    font-weight: bolder;
    color: #6e3701;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);;
}

.imagen-titulo-inicio h1 {
    font-size: 3rem;
}

.imagen-titulo-inicio p {
    font-size: 1.5rem;
    width: 35rem;
}

.inicio section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
}

.divisor-seccion{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
    margin: 2rem 0 0 0;
}

.icono-seccion {
    margin: 0;
    width: 3rem;
}

.servicios-inicio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2.5rem 2rem;
    justify-content: center;
    align-items: center;
}

.servicios-inicio h3 {
    text-decoration: underline;
    color: #000;
}

.servicios-inicio p {
    font-size: 0.8rem;
}

.servicios-inicio div {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 100%;
    align-items: center;
    text-align: center;
}

.imagen-inicio a {
    display: flex;
    flex-direction: column;
}

.servicios-inicio img {
    width: 5rem;
    height: 5rem;
}