/*****
* Universal
*****/
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-weight: bold;
}

p, 
h1 {
    margin: 0;
    padding: 0;
    white-space: pre-line;
}

h1 {
    color: #c26711;
}

h2 {
    margin: 0 0 2rem 0;
    color:#c26711;
}

li {
    list-style: none;
}

input[type="checkbox"]{
    margin: 0;
    padding: 0;
    width: 0.8rem;
    height: 0.8rem;
}

::placeholder {
    font-style: italic;
}
/*****
* body-index    index.php
*****/
body {
    margin: 0;
    overflow-x: hidden;
}

/*Menu*/
.menu {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #fdd7b5;
    justify-content: space-between;
    margin: 0;
    top: 0;
    align-items: center;
    width: 100%;
    height: 7rem;
    border-bottom: 0.1rem solid #8b4300;
}

.menu img {
    width: 6rem;
    margin: 0 0 0 10rem;
    cursor: pointer;
}

.menu .logo {
    display: flex;
    align-items: center;
}

.menu .menu-enlaces {
    display: flex;
    flex-direction: row;
    margin: 0 10rem 0 0;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.menu li {
    color: #c26711;
}

.menu li button {
    border: none;
    background: none;
    color: #c26711;
    font-weight: 500;
    font-size: 1.02rem;
}

.dropdown:hover .boton-servicios,
.dropdown-content a:hover ~ .boton-servicios {
    font-weight: bold;
    background: #fbaa5f;
    cursor: pointer;
    height: 3rem;
    border: #c26711 solid 0.1rem;
    border-bottom: none;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.dropdown-content a {
    background: #fdf5ee;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-bottom: 0.1rem solid #c26711;
    border-left: 0.1rem solid #c26711;
    border-right: 0.1rem solid #c26711;
}

.dropdown-content a:nth-child(1) {
    border-top: 0.1rem solid #c26711;
}

.dropdown-content a:nth-child(8) {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.menu a {
    color: #c26711;
    font-weight: 500;
    transition: all 0.15s ease;
}

.menu a:hover {
    font-weight: bold;
}

/*****
* footer.php
*****/
footer {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 0.1rem solid #8b4300;
}

.background-formulario {
    background-color: #fdd7b5;
    width: 100%;
}

.formulario-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.titulo-formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 40rem;
    gap: 1.25rem 2rem;
    margin: 2rem 0 0;
}

.formulario-texto h2 {
    margin: 0 0 1rem;
}

.formulario-texto p {
    width: 30rem;
    margin: 0 0 2rem;
    font-weight: bold;
}

.formulario-texto p:nth-child(2) {
    margin: 0;
}

.formulario-texto label {
    padding: 0 0 0 0.5rem;
    font-weight: bold;
}

.item-formulario {
    display: flex;
    flex-direction: column;
    justify-content: start !important;
}

.item-formulario input {
    height: 2rem;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    border: none;
}

.textarea {
    display: flex;
}

textarea {
    margin: 2rem 0 0 0;
    padding: 0.5rem;
    resize: vertical;
    /*form-sizing: content;*/           /*Para un futuro, funcionará, no requerirá max-height*/
    min-height: 7rem;
    max-height: 11rem;
    border-radius: 0.4rem;
    width: 100%;
    border: none;
}

.confirmacionForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem 0 1.5rem;
}

.confirmacionForm a {
    color:#c26711;
}

.confirmacionForm p {
    width: 35rem;
    font-size: 1.1rem;
}

.enviar-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enviar {
    width: 8rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: none;
    background-color: #fa9333;
    font-weight: bold;
    transition: all 0.17s ease;
}

.enviar:hover {
    width: 8.5rem;
    height: 2.2rem;
}


/* Pie informativo */
.footer {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer ul li {
    font-weight: bold;
    padding: 0;
    margin: 0.5rem 0;
}

.footer ul a {
    color:#c26711;
    text-decoration: underline;
}

.footer ul h3 {
    margin: 0;
    color: #c26711;
}

.item-footer {
    display: flex;
    flex-direction: column;
    height: 11.5rem;
    padding: 0 0 1rem;
    margin: 1.5rem 0 0;
}

.item-footer:first-child {
    align-items: center;
    margin: 0 1rem 0 0;
}

.item-footer img {
    width: 8rem;
    margin: 1rem 0 0;
    align-items: center;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
}

.redes-sociales img {
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin: 0 0 1rem;
}

.item-footer h3 {
    margin: 0 0 0.5rem;
    color: #c26711;
}

h5 {
    margin: 0 0 1rem;
}

h5 a {
    color:#c26711;
    text-decoration: underline;
    transition: all 0.17s ease; 
}

h5 a:hover {
    font-size: 0.85rem;
}

/*****
* extension
*****/
.extension {
    margin: 7rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*****
* inicio.php
*****/

.imagen-inicio {
    background: url(../img/inicio1.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 35rem;
    width: 100%;
    justify-content: center;
}

.imagen-inicio div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10% 50% 0 0;
}

.imagen-inicio h1,
.imagen-inicio p {
    text-shadow: 0 0 0 #fff,  
    0 0 0 #fff,
    0 0 0 #fff,
    2px 2px 0 #fff;
}

.imagen-inicio h1 {
    font-size: 2.5rem;
}

.imagen-inicio p {
    font-size: 1.4rem;
    width: 35rem;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
}

.divisor-seccion{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin: 3rem 0 0;
}

.icono-seccion {
    width: 3rem;
}

.servicios-inicio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2.5rem 2rem;
    justify-content: center;
    align-items: center;
}

.servicios-inicio h3 {
    text-decoration: underline;
    color: #fa9333;
}

.servicios-inicio p {
    font-size: 0.8rem;
}

.servicios-inicio div {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 15rem;
    align-items: center;
    text-align: center;
}

.imagen-inicio a {
    display: flex;
    flex-direction: column;
}

.servicios-inicio img {
    width: 5rem;
    height: 5rem;
    transition: all 0.17s ease;
}

.servicios-inicio img:hover {
    width: 6rem;
    height: 6rem;
}

.compromiso {
    display: flex;
    padding: 1rem 0 0 0;
    width: 100%;
    background: #E1DCD7;
}

.compromiso h2 {
    margin: 0;
}

.compromiso p {
    width: 70%;
}

.compromiso img {
    width: 100%;
}

.pedrito {
    height: 4rem;
    width: 4.2rem;
}

.tienda-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tienda-inicio-elementos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.tienda-inicio-elementos div {
    border: 0.1rem solid gray;
    width: 25rem;
    height: 15rem;
    border: none;
    border-radius: 2rem;
}

.tienda-inicio-elementos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: 0.12rem -0.12rem 0rem 0.1rem #fdd7b5;
}

.tienda-inicio-elementos div p {
    width: 20rem;
}

.tienda-inicio-elementos div a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tienda-inicio-elementos h3 {
    text-decoration: underline;
}

.tienda-inicio-elementos div img {
    width: 4rem;
    margin: 0 2rem;
    transition: all 0.17s ease;
}

.tienda-inicio-elementos div img:hover {
    width: 5rem;
}

.tienda-inicio-elementos h3 {
    color: #fa9333;
}

/*****
* nosotros.php
*****/
.nosotros {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nosotros div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: justify;
    align-items: center;
    margin: 2rem 0 0;
    gap: 3rem;
    width: 80%;
}

.nosotros p {
    width: 100%;
    text-align: justify;
}
.nosotros div img {
    width: 100%;
    border-radius: 2rem;
}

/*****
* donar-adoptar.php
*****/
.donacion,
.adoptar {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}

.adoptar {
    border-bottom: 0.1rem solid #8b4300;
}

.donacion div,
.adoptar div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
    gap: 2rem;
    margin: 2rem 0;
    justify-content: center;
    text-align: justify;
    align-items: center;
}

.donacion div p,
.adoptar div p {
    font-size: 1.2rem;
    width: 100%;
}

.donacion div img,
.adoptar div img {
    border-radius: 2rem;
    width: 99.5%;
    transition: all 0.17s ease;
}

.adoptar div img:hover,
.donacion div img:hover {
    width: 100%;
}

/*****
* contacto.php
*****/
.ubicacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.ubicacion h2 {
    font-size: 1.6rem;
    text-align: center;
}

.ubicacion p {
    font-size: 1.15rem;
}

.ubicacion img {
    width: 100%;
    border-radius: 25% 2rem 25%;
    box-shadow: 0.3rem -0.3rem 0.3rem #ffc48d;
}

.mapa {
    margin: 0 0 3rem 0;
    width: 50%;
    height: 25rem;
    border-radius: 2rem;
    box-shadow: 0.3rem -0.2rem 0.2rem #ffc48d;
}

/***** Media *****/
@media (min-width:900px) and (max-width:1299.99px) {

    

    .imagen-inicio h1 {
        font-size: 1.9rem;
        width: 30rem;
        margin: 0 0 0.5rem;
    }

    .imagen-inicio p {
        font-size: 1.1rem;
        width: 25rem;
    }

    .menu img {
        margin: 0 0 0 4rem;
    }

    .menu .menu-enlaces {
        margin: 0 3rem 0 0;
    }

    .menu ul {
        gap: 0.5rem;
    }

    .menu .menu-enlaces li a {
        font-size: 0.9rem;
    }
    
    .servicios-inicio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 2.5rem 2rem;
        justify-content: center;
        align-items: center;
    }

    .tienda-inicio-elementos {
        display: grid;
        grid-template-columns: repeat(
            2, minmax(25rem, 1fr)
            );
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }
}